[Unit]
Description=MDHQ
After=docker.service
After=redis.service
After=mysql.service
Requires=docker.service
Requires=redis.service
Requires=mysql.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill mdhq
ExecStartPre=-/usr/bin/docker rm mdhq
ExecStartPre=/usr/bin/docker pull localhost:5000/mdhq

ExecStart=/usr/bin/docker run --name mdhq -p 3000:3000 localhost:5000/mdhq
ExecStop=/usr/bin/docker stop mdhq

