[Unit]
Description=Announce MySQL
BindsTo=mysql@%i.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/mysql/mysql-%i '{ \"host\": \"%H\", \"port\": 3306, \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/mysql/mysql-%i

[X-Fleet]
X-ConditionMachineOf=mysql@%i.service
