[Unit]
Description=Announce Nginx
BindsTo=nginx@%i.service

[Service]
ExecStart=/bin/sh -c "source /etc/environment && while true; do etcdctl set /services/nginx/nginx-%i '{ \"host\": \"%H\", \"addr\": \"$COREOS_PUBLIC_IPV4\", (\"port\": 80, \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/nginx/nginx-%i

[X-Fleet]
X-ConditionMachineOf=nginx@%i.service
