[Unit]
Description=Redis
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill redis-%i
ExecStartPre=-/usr/bin/docker rm redis-%i
ExecStartPre=/usr/bin/docker pull dockerfile/redis

ExecStart=/usr/bin/docker run --name redis-%i -p 6379 dockerfile/redis
ExecStop=/usr/bin/docker stop redis-%i
